html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.ui-header .ui-title {
	margin-left: 0px;
	margin-right: 0px;
}

.ui-content {
	margin: 0px auto;
    border: 0;
    max-width: 600px;
}

.quantity-input-column {
    width: 67px;
}

input.quantity-input {
    width: 50px;
}

.checkout-subtotal, .checkout-total {
}

.checkout-subtotal {
}

.checkout-total {
	font-size: x-large;
	border-top: solid 1px;
    padding-top: 10px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

table {
	width: 100%;
}

table * {
	text-align: right;
}

.checkout-thumb:hover {
	opacity: 0.7;
}

.center-wrapper {
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

.footer-links {
    font-size: smaller;
    padding-left: 0px;
    padding-right: 0px;
}

#img-preview {
	max-width: 600px;
	border: 1px solid #999;
}

.order-details {
    line-height: 22px;
}

dt {
    font-weight: bold;
}

.order-details dt {
    width: 150px;
    font-weight: bold;
    float: left;
    clear: left;
}

.order-details dd {

}